@charset "UTF-8";
/*                            //⟁\\                            */
/*body {font-family: 'Istok Web', sans-serif;background:transparent;min-height: 100%;margin: 0;}*/
body {
  background-color: #000;
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  z-index: 15;
}

.hero {
  z-index: 15;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

input, button, select {
  font-family: "Abel", sans-serif;
   font-size: 14px;
   text-align:center;
}

button {
  background-color: #c40100;
  color: white;
  border-color: white;
}

.hero h1 {
  z-index: 15;
  font-family: "Holtwood One SC", serif;
  font-weight: normal;
  font-size: 5.4em;
  margin: 0 0 20px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.hero p {
  z-index: 15;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

.hero-wrap {
  z-index: 15;
  padding: 3.5em 10px;
}

.hero p.intro {
  z-index: 15;
  font-family: "Holtwood One SC", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom: -40px;
  color: #c40100;
}

.hero p.year {
  z-index: 15;
  color: #fff;
  letter-spacing: 20px;
  font-size: 34px;
  margin: -25px 0 25px;
}

.hero p.year i {
  z-index: 15;
  font-size: 14px;
  vertical-align: middle;
}

#bracket {
  z-index: 15;
  position: relative;
  overflow: hidden;
  background-color: #535353;
  background-color: rgba(39, 39, 39, 0.6);
  padding-top: 20px;
  font-size: 12px;
  padding: 40px 0;
}

.container {
  z-index: 15;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.split {
  z-index: 15;
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 42%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}

.champion {
  z-index: 15;
  float: left;
  display: block;
  width: 16%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0\9 ;
}

.champion i {
  z-index: 15;
  color: #c40100;
  font-size: 45px;
  padding: 10px 0;
}

.round {
  z-index: 15;
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 95%;
  width: 30.8333% \9 ;
}

.split-two {
  z-index: 15;
}

.split-one .round {
  z-index: 15;
  margin: 0 2.5% 0 0;
}

.split-two .round {
  z-index: 15;
  margin: 0 0 0 2.5%;
}

.matchup {
  z-index: 15;
  margin: 0;
  width: 100%;
  padding: 20px 0;
  height: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.score {
  z-index: 15;
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  color: #8f0f0f;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  right: 5px;
}

.team {
  z-index: 15;
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.round-two .matchup {
  z-index: 15;
  margin: 0;
  height: 60px;
  padding: 50px 0;
}

.round-three .matchup {
  z-index: 15;
  margin: 0;
  height: 60px;
  padding: 130px 0;
}

.round-details {
  z-index: 15;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  color: #ccc;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.champion li, .round li {
  z-index: 15;
  background-color: #fff;
  box-shadow: none;
  opacity: 0.45;
}

.current li {
  z-index: 15;
  opacity: 1;
}

.current li.team {
  z-index: 15;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.vote-options {
  z-index: 15;
  display: block;
  height: 52px;
}

.share .container {
  z-index: 15;
  margin: 0 auto;
  text-align: center;
}

.share-icon {
  z-index: 15;
  font-size: 24px;
  color: #fff;
  padding: 25px;
}

.share-icon-footer {
  z-index: 15;
  font-size: 10px;
  color: #fff;
  padding: 14px;
}

.share-wrap {
  z-index: 15;
  max-width: 1100px;
  text-align: center;
  margin: 60px auto;
}

.final {
  z-index: 15;
  margin: 4.5em 0;
}

/*
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.share {z-index: 15; }
.share-icon {z-index: 15; color: rgb(235, 235, 235); opacity: 0.35; }
.share-icon:hover {z-index: 15;  opacity:0.9;  -webkit-animation: pulse 0.5s; animation: pulse 0.5s;}
.share-icon-footer {z-index: 15; color: rgb(235, 235, 235); opacity: 0.35; }
.share-icon-footer:hover {z-index: 15;  opacity:0.9;  -webkit-animation: pulse 0.5s; animation: pulse 0.5s;}
.date {z-index: 15; font-size: 10px; letter-spacing: 2px;font-family: 'Istok Web', sans-serif;color:#1f6d60;}



@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container {margin: 0 1%;}
  .champion {width: 14%;}
  .split {width:43%; }
  .split-one .vote-box {margin-left: 138px;}
  .hero p.intro {font-size: 28px;}
  .hero p.year {margin: 5px 0 10px;}

}

@media screen and (max-width: 980px) {
  .container {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  .split, .champion {width: 90%;margin: 35px 5%;}
  .champion {-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;order:3;}
  .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
  .hero p.intro {font-size: 24px;}
  .hero h1 {font-size: 3em; margin: 15px 0;}
  .hero p {font-size: 1em;}
}


@media screen and (max-width: 400px) {

  .split {width: 95%;margin: 25px 2.5%;}
  .round {width:21%;}
  .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  .hero h1 {font-size: 2.15em; letter-spacing: 0;margin:0; }
  .hero p.intro {font-size: 1.15em;margin-bottom: -10px;}
  .round-details {font-size: 90%;}
  .hero-wrap {padding: 2.5em;}
  .hero p.year {margin: 5px 0 10px; font-size: 18px;}

}

/* PARTICLES */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent !important;
  background-color: #161616;
  background-image: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 2;
}

/* Footer */
#footer {
  position: fixed;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 0px;
  font-family: "Istok Web", sans-serif;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: #2e2e2e;
  border-bottom: 0px solid transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 15;
}

#footer p {
  margin: 5px;
}

/* Footer End */
@keyframes float {
  0% {
    transform: translateX(0) translateY(10px);
  }
  25% {
    transform: translateX(20px) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(-10px);
  }
  75% {
    transform: translateX(-20px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(10px);
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  background: #190000;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.background {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/background-fireplace.svg");
  background-repeat: no-repeat;
  background-size: 1024px 800px;
  background-position: center;
  position: absolute;
  top: 0;
  left: -40px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: float 30s ease-in-out infinite;
  z-index: 3;
}

.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;
  width: 400px;
  height: 400px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/moon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}